html{
    background: url('bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
}



body{
	margin: 0;
}

header{
	height: 5em;
	margin-top: -2em;
	background: #201f1c;
	background: -moz-linear-gradient(top,  #3d3d3d 0%, #2d2d29 1%, #201f1c 91%, #2d2c29 99%, #3d3d3d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3d3d3d), color-stop(1%,#2d2d29), color-stop(91%,#201f1c), color-stop(99%,#2d2c29), color-stop(100%,#3d3d3d));
	background: -webkit-linear-gradient(top,  #3d3d3d 0%,#2d2d29 1%,#201f1c 91%,#2d2c29 99%,#3d3d3d 100%);
	background: -o-linear-gradient(top,  #3d3d3d 0%,#2d2d29 1%,#201f1c 91%,#2d2c29 99%,#3d3d3d 100%);
	background: -ms-linear-gradient(top,  #3d3d3d 0%,#2d2d29 1%,#201f1c 91%,#2d2c29 99%,#3d3d3d 100%);
	background: linear-gradient(to bottom,  #3d3d3d 0%,#2d2d29 1%,#201f1c 91%,#2d2c29 99%,#3d3d3d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#3d3d3d',GradientType=0 );
	border-top: solid 1px #000;
	border-bottom: solid 1px #000;
	box-shadow: 0 0 4px;
}

a {
    color: #bbb;
    text-decoration: none;
    text-shadow: 0 -1px 0 #000;
}

a:hover {
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 0 #000;
}

ul {
    list-style: none;
    font-size: 1.7em;
    font-family: "catwing",sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 2.3em;
    padding-left: 1.1em;
    color: #fff;
    text-shadow: 0 -1px 0 #000;
}

li {
    display: inline;
    margin-right: 2%;
}


.homeTitle h1 {
    font-size: 3.7em;
    font-family: "catwing",sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    text-align: center;
    text-shadow: 0 -1px 0 #000;
}


@media all and (min-width: 68.75em) /*1100px*/ {
    .homeTitle h1{
        font-size: 4em;
    }
}

@media all and (min-width: 81.25em) /*1300px*/ {
    .homeTitle h1{
        font-size: 4.5em;
    }
}

@media all and (min-width: 93.75em) /*1500px*/ {
    .homeTitle h1{
        font-size: 5em;
    }
}

@media all and (min-width: 112.5em) /*1800px*/ {
    .homeTitle h1{
        font-size: 6em;
    }
}

section{
    padding: 0;
    height: 40em;
    margin-top: 1em;

}

@media all and (min-width: 25em) /*400px*/ {
    section {
        padding-left: 6%;
    }
}

@media all and (min-width: 32.063em) /*513px*/ {
    section {
        padding-left: 15%;
    }
}

@media all and (min-width: 39.375em) /*630px*/ {
    section {
        padding-left: 24%;
    }
}

@media all and (min-width: 47.75em) /*764px*/ {
    section {
        padding-left: 6%;
    }
}

@media all and (min-width: 77.5em) /*1240px*/ {
    section {
        padding-left: 7%;
    }
}

@media all and (min-width: 79.375em) /*1270px*/ {
    section {
        padding-left: 8%;
    }
}

@media all and (min-width: 81.25em) /*1300px*/ {
    section {
        padding-left: 10%;
    }
}

@media all and (min-width: 84.375em) /*1350px*/ {
    section {
        padding-left: 11%;
    }
}

@media all and (min-width: 87.5em) /*1400px*/ {
    section {
        padding-left: 12%;
    }
}

@media all and (min-width: 90.625em) /*1450px*/ {
    section {
        padding-left: 13%;
    }
}

@media all and (min-width: 93.75em) /*1500px*/ {
    section {
        padding-left: 14%;
    }
}

@media all and (min-width: 96.875em) /*1550px*/ {
    section {
        padding-left: 15%;
    }
}

@media all and (min-width: 100em) /*1600px*/ {
    section {
        padding-left: 6%;
    }
}

@media all and (min-width: 103.125em) /*1650px*/ {
    section {
        padding-left: 8%;
    }
}

@media all and (min-width: 106.25em) /*1700px*/ {
    section {
        padding-left: 9%;
    }
}

@media all and (min-width: 112.5em) /*1800px*/ {
    section {
        padding-left: 10%;
    }
}

@media all and (min-width: 118.75em) /*1900px*/ {
    section {
        padding-left: 5%;
    }
}

.featuredPlaylist{
    width: 22em;
    height: 31em;
}

@media all and (min-width: 47.75em) /*764px*/ {
    .featuredPlaylist {
        padding-left: 25%;
    }
}

@media all and (min-width: 68.75em) /*1100px*/ {
    .featuredPlaylist {
        padding-left: 30%;
    }
}

@media all and (min-width: 71.188em) /*1139px*/ {
    .featuredPlaylist {
        padding-left: 0;
        float: left;
    }
}

@media all and (min-width: 100em) /*1600px*/ {
    .featuredPlaylist {
        padding-left: 12%;
        float: left;
    }
}

@media all and (min-width: 118.75em) /*1900px*/ {
    .featuredPlaylist {
        padding-left: 18%;
        float: left;
    }
}

@media all and (min-width: 128.125em) /*2050px*/ {
    .featuredPlaylist {
        padding-left: 22%;
        float: left;
    }
}

@media all and (min-width: 137.5em) /*2200px*/ {
    .featuredPlaylist {
        padding-left: 25%;
        float: left;
    }
}

.featuredPlaylist2{
    width: 22em;
    height: 31em;
    float: left;
}

@media all and (min-width: 51.25em) /*820px*/ {
    .featuredPlaylist2 {
        padding-left: 2%;
    }
}

@media all and (min-width: 56.25em) /*900px*/ {
    .featuredPlaylist2 {
        padding-left: 4%;
    }
}

@media all and (min-width: 59.375em) /*950px*/ {
    .featuredPlaylist2 {
        padding-left: 5%;
        padding-top: 2%;
    }
}

@media all and (min-width: 68.75em) /*1100px*/ {
    .featuredPlaylist2 {
        padding-left: 8%;
    }
}

@media all and (min-width: 71.188em) /*1139px*/ {
    .featuredPlaylist2 {
        padding-left: 0;
        padding-top: 0;
    }
}

.itemContainer{
	width: 22em;
	height: 31em;
	float: left;
}

.item{
	width: 18.750em;
	padding: 1em;
	background: #201f1c;
	background: -moz-linear-gradient(top,  #3d3d3d 0%, #2d2d29 1%, #201f1c 91%, #2d2c29 99%, #3d3d3d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3d3d3d), color-stop(1%,#2d2d29), color-stop(91%,#201f1c), color-stop(99%,#2d2c29), color-stop(100%,#3d3d3d));
	background: -webkit-linear-gradient(top,  #3d3d3d 0%,#2d2d29 1%,#201f1c 91%,#2d2c29 99%,#3d3d3d 100%);
	background: -o-linear-gradient(top,  #3d3d3d 0%,#2d2d29 1%,#201f1c 91%,#2d2c29 99%,#3d3d3d 100%);
	background: -ms-linear-gradient(top,  #3d3d3d 0%,#2d2d29 1%,#201f1c 91%,#2d2c29 99%,#3d3d3d 100%);
	background: linear-gradient(to bottom,  #3d3d3d 0%,#2d2d29 1%,#201f1c 91%,#2d2c29 99%,#3d3d3d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#3d3d3d',GradientType=0 );
	border: solid 1px #585858;
	box-shadow: 0 0 1px #ccc;
}

.itemTitle{
	height: 4em;
	width: 20.750em;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	background: #fcfaf5;
	background: -moz-linear-gradient(top,  #ffffff 0%, #fcfaf5 1%, #fcfaf5 91%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(1%,#fcfaf5), color-stop(91%,#fcfaf5), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#fcfaf5 1%,#fcfaf5 91%,#ffffff 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#fcfaf5 1%,#fcfaf5 91%,#ffffff 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#fcfaf5 1%,#fcfaf5 91%,#ffffff 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#fcfaf5 1%,#fcfaf5 91%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
	border-top: solid 1px #b4b4b4;
	border-left: solid 1px #b4b4b4;
	border-right: solid 1px #b4b4b4;
	border-bottom: solid 1px #000;
	box-shadow: 0 0 1px #9C9C9C;
}

.itemTitle h2 {
    font-family: "coolvetica",sans-serif;
    font-style: normal;
    font-weight: 300;
	text-align: center;
    letter-spacing: 0.1em;
}

.playlist{
	width: 300px;
	height: 380px;
}

.info{
    width: 70px;
    height: 70px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    transition: all .3s ease-out;
    position: absolute;
    right: 8%;

}

.info:hover{
    -webkit-transform: scale(1.05) rotate(3deg);
}

.info span.circleTop{
    transition: all .3s ease-out;
    position: absolute;
    margin: 20px;
    width: 70px;
    height: 70px;
    top:-50px;
    left: -20px;
    z-index:-1;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;

}

.info:hover span.circleTop{
    background-color: rgba(0, 0, 0, 0.1);
    top:-20px;
    left: -20px;
}

.info span.circleBtm{
    transition: all .3s ease-out;
    position: absolute;
    margin: 20px;
    width: 70px;
    height: 70px;
    top: 50px;
    left: -20px;
    z-index:-1;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;

}

.info:hover span.circleBtm{
    background-color: rgba(0, 0, 0, 0.1);
    top:-20px;
    left: -20px;
}