/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*---Variables---*/
/*---Colors---*/
/* line 10, ../sass/style.scss */
html {
  background: url("../images/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
}

/* line 21, ../sass/style.scss */
body {
  margin: 0;
}

/* line 25, ../sass/style.scss */
header {
  height: 5em;
  margin-top: -2em;
  background: #201f1c;
  background: linear-gradient(to bottom, #3d3d3d 0%, #2d2d29 1%, #201f1c 91%, #2d2c29 99%, #3d3d3d 100%);
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  box-shadow: 0 0 4px;
}

/* line 35, ../sass/style.scss */
p, h3 {
  color: white;
  font-size: 1em;
  font-family: "catwing",sans-serif;
  font-style: normal;
  font-weight: 400;
}

/* line 43, ../sass/style.scss */
a {
  color: #bbb;
  text-decoration: none;
  text-shadow: 0 -1px 0 black;
}

/* line 49, ../sass/style.scss */
a:hover {
  color: white;
  text-decoration: none;
  text-shadow: 0 -1px 0 black;
}

/* line 55, ../sass/style.scss */
ul {
  list-style: none;
  font-size: 1.7em;
  font-family: "catwing",sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 2.3em;
  margin-top: 1em;
  padding-left: 1.1em;
  color: white;
  text-shadow: 0 -1px 0 black;
}

/* line 68, ../sass/style.scss */
li {
  display: inline;
  margin-right: 2%;
}

/* line 73, ../sass/style.scss */
.homeTitle h1 {
  font-size: 3.7em;
  font-family: "catwing",sans-serif;
  font-style: normal;
  font-weight: 400;
  color: white;
  text-align: center;
  text-shadow: 0 -1px 0 black;
  padding: 1em 0 1em 0;
}

@media all and (min-width: 68.75em) {
  /* line 86, ../sass/style.scss */
  .homeTitle h1 {
    font-size: 4em;
  }
}
@media all and (min-width: 81.25em) {
  /* line 92, ../sass/style.scss */
  .homeTitle h1 {
    font-size: 4.5em;
  }
}
@media all and (min-width: 93.75em) {
  /* line 98, ../sass/style.scss */
  .homeTitle h1 {
    font-size: 5em;
  }
}
@media all and (min-width: 112.5em) {
  /* line 104, ../sass/style.scss */
  .homeTitle h1 {
    font-size: 6em;
  }
}
/* line 109, ../sass/style.scss */
section {
  padding: 0;
  height: 40em;
  margin-top: 1em;
}

@media all and (min-width: 25em) {
  /* line 117, ../sass/style.scss */
  section {
    padding-left: 6%;
  }
}
@media all and (min-width: 32.063em) {
  /* line 123, ../sass/style.scss */
  section {
    padding-left: 15%;
  }
}
@media all and (min-width: 39.375em) {
  /* line 129, ../sass/style.scss */
  section {
    padding-left: 24%;
  }
}
@media all and (min-width: 47.75em) {
  /* line 135, ../sass/style.scss */
  section {
    padding-left: 6%;
  }
}
@media all and (min-width: 77.5em) {
  /* line 141, ../sass/style.scss */
  section {
    padding-left: 7%;
  }
}
@media all and (min-width: 79.375em) {
  /* line 147, ../sass/style.scss */
  section {
    padding-left: 8%;
  }
}
@media all and (min-width: 81.25em) {
  /* line 153, ../sass/style.scss */
  section {
    padding-left: 10%;
  }
}
@media all and (min-width: 84.375em) {
  /* line 159, ../sass/style.scss */
  section {
    padding-left: 11%;
  }
}
@media all and (min-width: 87.5em) {
  /* line 165, ../sass/style.scss */
  section {
    padding-left: 12%;
  }
}
@media all and (min-width: 90.625em) {
  /* line 171, ../sass/style.scss */
  section {
    padding-left: 13%;
  }
}
@media all and (min-width: 93.75em) {
  /* line 177, ../sass/style.scss */
  section {
    padding-left: 14%;
  }
}
@media all and (min-width: 96.875em) {
  /* line 183, ../sass/style.scss */
  section {
    padding-left: 15%;
  }
}
@media all and (min-width: 100em) {
  /* line 189, ../sass/style.scss */
  section {
    padding-left: 6%;
  }
}
@media all and (min-width: 103.125em) {
  /* line 195, ../sass/style.scss */
  section {
    padding-left: 8%;
  }
}
@media all and (min-width: 106.25em) {
  /* line 201, ../sass/style.scss */
  section {
    padding-left: 9%;
  }
}
@media all and (min-width: 112.5em) {
  /* line 207, ../sass/style.scss */
  section {
    padding-left: 10%;
  }
}
@media all and (min-width: 118.75em) {
  /* line 213, ../sass/style.scss */
  section {
    padding-left: 5%;
  }
}
/* line 218, ../sass/style.scss */
.featuredPlaylist {
  width: 22em;
  height: 31em;
}

@media all and (min-width: 47.75em) {
  /* line 224, ../sass/style.scss */
  .featuredPlaylist {
    padding-left: 25%;
  }
}
@media all and (min-width: 68.75em) {
  /* line 230, ../sass/style.scss */
  .featuredPlaylist {
    padding-left: 30%;
  }
}
@media all and (min-width: 71.188em) {
  /* line 236, ../sass/style.scss */
  .featuredPlaylist {
    padding-left: 0;
    float: left;
  }
}
@media all and (min-width: 100em) {
  /* line 243, ../sass/style.scss */
  .featuredPlaylist {
    padding-left: 12%;
    float: left;
  }
}
@media all and (min-width: 118.75em) {
  /* line 250, ../sass/style.scss */
  .featuredPlaylist {
    padding-left: 18%;
    float: left;
  }
}
@media all and (min-width: 128.125em) {
  /* line 257, ../sass/style.scss */
  .featuredPlaylist {
    padding-left: 22%;
    float: left;
  }
}
@media all and (min-width: 137.5em) {
  /* line 264, ../sass/style.scss */
  .featuredPlaylist {
    padding-left: 25%;
    float: left;
  }
}
/* line 270, ../sass/style.scss */
.featuredPlaylist2 {
  width: 22em;
  height: 31em;
  float: left;
}

@media all and (min-width: 51.25em) {
  /* line 277, ../sass/style.scss */
  .featuredPlaylist2 {
    padding-left: 2%;
  }
}
@media all and (min-width: 56.25em) {
  /* line 283, ../sass/style.scss */
  .featuredPlaylist2 {
    padding-left: 4%;
  }
}
@media all and (min-width: 59.375em) {
  /* line 289, ../sass/style.scss */
  .featuredPlaylist2 {
    padding-left: 5%;
    padding-top: 2%;
  }
}
@media all and (min-width: 68.75em) {
  /* line 296, ../sass/style.scss */
  .featuredPlaylist2 {
    padding-left: 8%;
  }
}
@media all and (min-width: 71.188em) {
  /* line 302, ../sass/style.scss */
  .featuredPlaylist2 {
    padding-left: 0;
    padding-top: 0;
  }
}
/* line 308, ../sass/style.scss */
.itemContainer {
  width: 22em;
  height: 31em;
  float: left;
}

/* line 314, ../sass/style.scss */
.item {
  width: 18.750em;
  padding: 1em;
  background: #201f1c;
  background: linear-gradient(to bottom, #3d3d3d 0%, #2d2d29 1%, #201f1c 91%, #2d2c29 99%, #3d3d3d 100%);
  border: solid 1px #585858;
  box-shadow: 0 0 1px #ccc;
}

/* line 323, ../sass/style.scss */
.itemTitle {
  height: 4em;
  width: 20.750em;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background: #fcfaf5;
  background: linear-gradient(to bottom, #ffffff 0%, #fcfaf5 1%, #fcfaf5 91%, #ffffff 100%);
  border-top: solid 1px #b4b4b4;
  border-left: solid 1px #b4b4b4;
  border-right: solid 1px #b4b4b4;
  border-bottom: solid 1px black;
  box-shadow: 0 0 1px #9C9C9C;
}

/* line 337, ../sass/style.scss */
.itemTitle h2 {
  font-family: "coolvetica",sans-serif;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.1em;
  line-height: 2.7em;
  font-size: 1.5em;
}

/* line 347, ../sass/style.scss */
.playlist {
  width: 300px;
  height: 380px;
}

/* line 352, ../sass/style.scss */
.info {
  display: none;
}
@media all and (min-width: 43em) {
  /* line 352, ../sass/style.scss */
  .info {
    display: block;
    width: 70px;
    height: 70px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    transition: all .3s ease-out;
    position: absolute;
    right: 16%;
    top: 15em;
  }
}
@media all and (min-width: 50em) {
  /* line 352, ../sass/style.scss */
  .info {
    right: 19%;
  }
}
@media all and (min-width: 56.25em) {
  /* line 352, ../sass/style.scss */
  .info {
    right: 25%;
  }
}
@media all and (min-width: 71.188em) {
  /* line 352, ../sass/style.scss */
  .info {
    right: 6%;
    top: 7em;
  }
}
@media all and (min-width: 78.75em) {
  /* line 352, ../sass/style.scss */
  .info {
    right: 4%;
    top: 29em;
  }
}
@media all and (min-width: 88em) {
  /* line 352, ../sass/style.scss */
  .info {
    right: 8%;
  }
}
@media all and (min-width: 100em) {
  /* line 352, ../sass/style.scss */
  .info {
    right: 12%;
  }
}
@media all and (min-width: 120em) {
  /* line 352, ../sass/style.scss */
  .info {
    right: 18%;
  }
}

/* line 400, ../sass/style.scss */
.info:hover {
  -webkit-transform: scale(1.05) rotate(3deg);
}

/* line 404, ../sass/style.scss */
.info span.circleTop {
  transition: all .3s ease-out;
  position: absolute;
  margin: 20px;
  width: 70px;
  height: 70px;
  top: -50px;
  left: -20px;
  z-index: -1;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

/* line 419, ../sass/style.scss */
.info:hover span.circleTop {
  background-color: rgba(0, 0, 0, 0.1);
  top: -20px;
  left: -20px;
}

/* line 425, ../sass/style.scss */
.info span.circleBtm {
  transition: all .3s ease-out;
  position: absolute;
  margin: 20px;
  width: 70px;
  height: 70px;
  top: 50px;
  left: -20px;
  z-index: -1;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

/* line 439, ../sass/style.scss */
.info:hover span.circleBtm {
  background-color: rgba(0, 0, 0, 0.1);
  top: -20px;
  left: -20px;
}
